*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box; /* height and width should add under the border*/
}

.firstNav{
    height:60px;
    background-color: rgb(45, 232, 232);
    color: aliceblue;
    display:flex;
    align-items: center;    
}
#icon{
    height: 5px;
    
}
#login{
    margin-left: 70vw;
}
#buisness{
    margin-left: 75vw;
}
#write{
    margin-left: 65vw;

}
#category{
    margin-left: 60vw;

}
#blog{
    margin-left: 60vw;

}